<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>公告管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote" style="text-align: center;height: 70px">
    <!--id和lay-filter相同即可-->
    <form action="" method="get" id="searchForm" lay-filter="searchForm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="startDate" id="startDate" placeholder="yyyy-MM-dd HH:mm:ss"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">结束日期</label>
                <div class="layui-input-inline">
                    <input type="tel" name="endDate" id="endDate" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn layui-btn-radius layui-btn-danger" lay-submit=""
                        lay-filter="doSearch"><i class="layui-icon layui-icon-search">查询</i></button>
                <button type="reset" class="layui-btn layui-btn-normal layui-btn-radius"><i
                        class="layui-icon layui-icon-refresh-3">重置</i></button>
            </div>
        </div>
    </form>
</blockquote>
<!--数据表格开始-->
<!--数据表格开始-->
<div>
    <!--隐藏-->
    <table class="layui-hide" id="noticeTable" lay-filter="noticeTable"></table>
    <div class="layui-upload">
        <button type="button" class="layui-btn" id="test1">上传图片</button>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="demo1">
            <p id="demoText"></p>
        </div>
    </div>
</div>
<!--头部工具栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-inline">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-radius layui-btn-danger" lay-event="getCheckData">
                <i class="layui-icon layui-icon-delete">批量删除</i></button>
            <button type="button" class="layui-btn layui-btn-radius layui-btn-danger" lay-event="add">
                <i class="layui-icon layui-icon-add-1">添加</i></button>
            <button type="button" class="layui-btn layui-btn-radius layui-btn-danger" lay-event="writeExcel">
                <i class="layui-icon layui-icon-delete">批量导出</i></button>

        </div>
    </div>
</script>
<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn-xs layui-btn-danger layui-btn-radius" lay-event="edit"><i
            class="layui-icon layui-icon-edit"> 修改</i></button>
    <button class="layui-btn layui-btn-xs layui-btn-warm layui-btn-radius" lay-event="del"><i
            class="layui-icon layui-icon-delete"> 删除</i></button>

</script>
<!--数据表格结束-->
<!--查询条件结束-->
<!--添加层开始-->
<div id="addOrUpdateDiv" style="display: none;padding: 15px">
    <form id="dataForm" lay-filter="dataForm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">公告标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>
        <input type="hidden" id="id" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">公告内容</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="content" id="content"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center">
            <div class="layui-inline">
                <button type="button" class="layui-btn layui-btn-radius layui-btn-danger" id="doSubmit"
                        lay-filter="doSubmit"><i class="layui-icon layui-icon-search">提交</i></button>
                <button type="reset" class="layui-btn layui-btn-normal layui-btn-radius"><i
                        class="layui-icon layui-icon-refresh-3">重置</i></button>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">公司：</label>
                <div class="layui-inline">
                    <select name="companyId" lay-verify="required" lay-filter="companyId" id="companyId"
                            lay-search>
                        <option value="">请选择公司</option>
                        <option value="1">A公司</option>
                        <option value="2">B公司</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">部门：</label>
                <div class="layui-inline">
                    <select name="companyId" lay-verify="required" lay-filter="departmentId" id="departmentId"
                            lay-search>
                        <option value="">请选择部门</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="layui-form-item" style="text-align: center">
            <div class="layui-inline">
                <label class="layui-form-label">公司：</label>
                <select name="companyId" lay-verify="required" lay-filter="companyId" id="2" lay-search>
                    <option value="">请选择公司</option>
                </select>

                <label class="layui-form-label">部门:</label>
                <select name="departmentId" lay-verify="required" lay-filter="departmentId" id="3"
                        lay-search>
                    <option value="">请选择部门</option>
                </select>
            </div>
            <div class="layui-form-item" style="text-align: center">

                <div class="layui-inline">
                    <label class="layui-form-label">二级部门:</label>
                    <select name="departmentSecondId" lay-verify="required" lay-filter="departmentSecondId"
                            id="departmentSecondId" lay-search>
                        <option value="">请选择二级部门</option>
                    </select>
                </div>


                <div class="layui-inline">
                    <label class="layui-form-label">状态:</label>
                    <select name="deleted" lay-verify="required" lay-filter="deleted" id="deleted" lay-search>
                        <option value="">请选择状态</option>
                        <option value="0">存在</option>
                        <option value="1">已删除</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<!--添加层结束-->
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript" src="/resources/layui/time.js"></script>
<script>
    //引入组件
    layui.use(['form', 'jquery', 'layer', 'laydate', 'table', 'layedit','upload'], function () {
        //引入实例
        var form = layui.form;
        var upload = layui.upload;
        var $ = layui.jquery;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var table = layui.table;
        var layedit = layui.layedit;
        //初始化富文本
        var editIndex = layedit.build('content');
        //初始化时间组件
        laydate.render({
            elem: '#startDate',
            type: 'datetime'
        });
        laydate.render({
            elem: '#endDate',
            type: 'datetime',

        });

        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/upload/'
            ,before: function(obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result).attr("style", "width:200px;height:auto;"); //图片链接（base64）
                });
            }
            //     obj.preview(function (index, file, result) {
            //             $(".layui-upload-list").append('<img src="' + result + '" id="remove_' + index + '" title="双击删除该图片" style="width:200px;height:auto;">')
            //             $('#remove_' + index).bind('dblclick', function () {//双击删除指定预上传图片
            //                 delete files[index];//删除指定图片
            //                 $(this).remove();
            //             })
            // }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


        var tableInsNotice = table.render({
            elem: '#noticeTable'
            , url: '/sys/notice'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '数据表'
            , cellMinWidth: 80
            , cols: [ [
                // width属性去掉 自动居中 align: 'center'字段居中
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', align: 'center', sort: true}
                , {field: 'title', title: '主题', align: 'center', width: '25%'}
                , {field: 'opername', title: '操作者', align: 'center', width: '25%'}
                , {field: 'createtime', title: '发布时间', align: 'center', sort: true, width: '25%'}
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#barDemo', width: '25%'}
            ] ]
            , page: true
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "data": res.data, //解析数据列表
                    "count": res.page.total
                };
            }
            , done: function (res) {
                // 隐藏列
                $("noticeTable").css("width", "100%");
                $(".layui-table-box").find("[data-field='id']").css("display", "none");
                console.log(res);
                if (res.data.length == 0 && res.count != 0) {
                    table.reload('noticeTable', {
                        page: {
                            curr: 1
                        }
                    });
                }
            }
        });
        form.on('select(companyId)', function (data) {
            var companyId = data.value;
            var s = '<option value="">请选择部门</option>';
            if (companyId == '') {
                $("#departmentId").html(s);
                form.render('select');
            } else {
                $.ajax({
                    async: false,
                    type: "GET", //提交方式
                    url: 'sys/dept',//路径
                    data: {
                        companyId: companyId
                    },
                    success: function (result) {
                        if (result.code === 0) {
                            var list = result.data;
                            $.each(list, function (i, department) {
                                s = s + '<option value="' + department.id + '">' + department.name + '</option>';
                            });
                            $("#departmentId").html(s);
                            form.render('select');
                        }
                    }
                });
            }
        });

        //头工具栏事件
        table.on('toolbar(noticeTable)', function (obj) {
            switch (obj.event) {
                case 'getCheckData':
                    getCheckData();
                    break;
                case 'add':
                    addNotice();
                    break;

                case 'writeExcel':
                    var data = table.checkStatus('noticeTable').data;
                    var ids = new Array();
                    for (var i = 0; i < data.length; i++) {
                        ids.push(data[i].id);
                    }
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        window.location.href = '/sys/notice-list-export?ids=' + ids;
                    }
                    break;
            }

        });
        var mainIndex;

        //打开添加的弹出层
        function addNotice() {
            $("#dataForm")[0].reset();
            $("#id").val('');
            mainIndex = layer.open({
                type: 1,
                content: $("#addOrUpdateDiv"),
                area: ['800px', '600px'],
                title: '发布公告',
            })
        };

        //打开修改弹出层
        function editNotice(data) {
            $("#dataForm")[0].reset();
            mainIndex = layer.open({
                type: 1,
                content: $("#addOrUpdateDiv"),
                area: ['800px', '600px'],
                title: '修改公告',
                success: function () {
                    form.val("dataForm", data);
                    layedit.setContent(editIndex, data.content);
                }
            })
        };
        //模糊查询
        form.on("submit(doSearch)", function (data) {
            tableInsNotice.reload({
                //默认路径可以不写
                url: '/sys/notice',
                where: data.field,
                page: {
                    curr: 1
                }
            })
            return false;
        });

        //提交事件
        $("#doSubmit").click(function () {
            //同步富文本和textarea里面的内容
            layedit.sync(editIndex);
            var data = $("#dataForm").serialize();
            $.post('/sys/notice', data, function (res) {
                if (res.code == 0) {
                    tableInsNotice.reload();
                } else {
                    layer.msg(res.msg);
                }
                layer.close(mainIndex);
            })
        })
        //单个删除
        table.on('tool(noticeTable)', function (obj) {
            var data = obj.data; //获得当前行数据
            switch (obj.event) {
                case 'del':
                    deleteNotice(data.id);
                    break;
                case 'edit':
                    editNotice(data);
                    break;
            }
        })

        function deleteNotice(data) {
            layer.confirm('你确定要删除这条数据吗?', {icon: 3, title: '提示'}, function (index) {
                var ids = new Array();
                ids.push(data);
                $.ajax({
                    url: '/sys/notice',
                    type: 'DELETE',
                    data: {ids: ids + ""},
                    success: function (res) {
                        if (res.code == 0) {
                            table.reload('noticeTable', {});
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                });
                layer.close(index);
            });
        }

        //批量删除
        function getCheckData() {
            var data = table.checkStatus('noticeTable').data;
            var ids = new Array();
            for (var i = 0; i < data.length; i++) {
                ids.push(data[i].id);
            }
            if (data.length === 0) {
                layer.msg('请选择一行');
            } else {
                layer.confirm("真的删除选中信息吗?", function (delIndex) {
                    $.ajax({
                        url: '/sys/notice',
                        type: 'DELETE',
                        data: {ids: ids + ""},
                        dataType: "json",
                        success: function (res) {
                            if (res.code == 0) {
                                table.reload('noticeTable', {});
                            } else {
                                layer.msg(res.msg);
                            }
                        }
                    });
                    layer.close(delIndex)
                });
            }
        }
    })
</script>
</body>
</html>